<% if logged_in? %>
<%= render 'pages/navbar' %>
<div class="adminPage">
<h1 class="text-center h1-header">Wprowadz nowe intencje</h1>
<%= render "form" %>
</div>
 <% else %>
  PAGE NOT FOUND
<% end %>