@import "../variables";

.newsView-box-text-show {
  @include flexCenter(column);
  color: $text-color;
}

.newsView-box {
  max-height: 123123px;
  background-color: $main-color;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #000000bf;
  text-align: center;
  width: 100%;
}
.newsView-box > h2 {
  color: #000000;
  opacity: $default-opacity;
  padding-top: 5px 0 5px 0;
  box-shadow: $default-shadow;
}

.newsView-box-date {
  padding-top: 15px;
  color: #000000;
  text-align: center;
}

.newsView-box-button {
  max-width: 150px;
  border: none;
}

.newsView-box-button:focus {
  outline: none;
}

.newsView-img {
  width: 135px;
  height: 100px;
}
.newsView-img:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: $default-shadow;
}

.newsView-box-a {
  margin-bottom: 20px;
}

.newsView-box-a:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.newsView-box-pdf {
  width: 50px;
  height: 50px;
  margin-top: 25px;
}
