<div class="navbar">
  <%= link_to "Parafia-Kielczyglow-info.pl", root_path %>
  <%= link_to "Posty", posts_path %>
  <%= link_to "Intencje", posts_path %>
  <%= link_to "Wyloguj", logout_path, method: :delete   %>
</div>