<% if logged_in? %>
<%= render 'pages/navbar' %>
<div class="container">
  <div class="offset-md-2 col-md-8 text-center">
    <h1 class="jumbotron">Dodaj Post</h1>
    <%= render 'form' %>
  </div>
</div>
 <% else %>
  PAGE NOT FOUND
<% end %>