$main-color: white;
$text-color: rgb(41, 39, 39);
$accents-color: rgb(46, 97, 117);
$default-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$default-radius: 5px;
$default-opacity: 1;
$button-space: 5px;
$header-font: "Oswald", sans-serif;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.contact-form {
  margin: 15px 0;
}
.contact-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accents-color;
  color: $main-color;
  padding: 5px;
  margin: 10px 0;
  border-radius: $default-radius;
  opacity: $default-opacity;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: $default-opacity;
  }
}
