$main-color: white;
$text-color: rgb(41, 39, 39);
$accents-color: rgb(46, 97, 117);
$default-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$default-radius: 5px;
$default-opacity: 1;
$button-space: 5px;
$header-font: 'Oswald', sans-serif;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin background_gradient() {
  background-image: url(asset-path("header_background3"));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
  background-size: cover;
  height: auto;
  max-height: 121332px;
  min-height: 100vh;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}


@mixin navbar_gradient() {
  background-color: $main-color;
  opacity: $default-opacity;
}
