$main-color: white;
$second-color: orange;
$third-color: black;
$default-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
$default-radius: 5px;
$button-space: 5px;
