.adminPage {
  height: 100%;
  min-height: 100vh;
  background: url(asset-path("335818.jpg")) center cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.adminPage-header {
  margin-bottom: auto;
  margin-top: 100px;
  color: white;
  font-size: 48px;
}
.admin-panel-button {
  font-size: 48px;
  width: 350px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  opacity: 0.9;

  color: black;
  margin: 25px auto;
}

.admin-panel-button:hover {
  text-decoration: none;
}
.form-background {
  background-color: white;
  opacity: 0.9;
  border-radius: 15px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.box-title-h2 {
  widows: 100%;
  color: black;
  text-align: center;
  box-shadow: 0px 0px 10px 1px #000000e6;
  opacity: 0.9;
  border-radius: 15px 15px 0 0;
}

.title-post {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #abaaa8;
  border-radius: 3px;
}
.title-post:focus {
  outline: none;
}
.intentions-edit-button {
  margin-bottom: 15px;
}
