@import "./variables";

.adminPage {
  height: 100%;
  min-height: 100vh;
  background: url(asset-path("header_background.JPG")) bottom center / cover;
  @include flexCenter(column);
}
.adminPage-header {
  margin-top: -200px;
  color: $main-color;
  font-size: 48px;
}
.admin-panel-button {
  font-size: 48px;
  width: 350px;
  height: 60px;
  @include flexCenter(row);
  background-color: $main-color;
  border-radius: $default-radius;
  opacity: 0.9;
  color: black;
  margin: 25px auto;
}

.admin-panel-button:hover {
  text-decoration: none;
}
.form-background {
  background-color: $main-color;
  opacity: 0.9;
  border-radius: $default-radius;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.box-title-h2 {
  widows: 100%;
  color: black;
  text-align: center;
  box-shadow: $default-shadow;
  opacity: 0.9;
}

.title-post {
  width: 100%;
  margin-top: 15px;
  border: 1px solid #abaaa8;
  border-radius: $default-radius;
}
.title-post:focus {
  outline: none;
}
.intentions-edit-button {
  margin-bottom: 15px;
}
