/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "trix";
@import "bootstrap";
@import "./variables";

.button-inside-box {
  color: $text-color;
  padding: 10px;
}

.admin-panel-button-header {
  font-size: 32px;
  width: 300px;
  height: 80px;
  display: flex;
  @include flexCenter(row);
  opacity: $default-opacity;
  color: $accents-color;
  margin: 25px auto;
}

.admin-panel-button-header:hover {
  text-decoration: none;
  color: $accents-color;
}
.admin-panel-button-header:focus {
  outline: none;
}
