body {
  background-color: darkcyan;
}
.adminPanel-h1 {
  padding-top: 75px;
}

.adminPanel-newsVeiw-image {
  width: 200px;
  height: 220px;
}

h4 {
  color: whitesmoke;
  text-align: center;
}
h4:first-child {
  padding-top: 15px;
  border-top: 2px solid deepskyblue;
}
.button-delete {
  width: 75px;
  height: 45px;
  padding: 5px;
}
.inputs-column > input {
  width: 100%;
}
