.aktualnosci-comp {
  height: 110%;
}

.aktualnosci-search {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-boxes {
  display: flex;
  justify-content: space-around;
}
