.aktualnosci-comp {
  background-image: url(asset-path("kaplani.jpg"));
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 0;
  height: 100%;
}
.aktualnosci-search {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-boxes {
  display: flex;
  justify-content: space-around;
}
