.aktualnosci-comp {
  height: auto;
  max-height: 121332px;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
  background-image: url(asset-path("kaplani.jpg"));
}

.news-boxes {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
