@import "../variables";

@media (max-width: 600px) {
  .logo {
    font-family: "Allura", cursive;
    font-size: 52px;
    color: white;
    text-align: center;
  }

  .boxes-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    flex-wrap: nowrap;
    background-color: black;
    justify-content: space-around;
  }

  .boxes-rows {
    display: flex;
    flex-direction: row;
  }

  .boxes-row {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
  }

  .row-item {
    background-color: black;
    flex: 1;
    width: 100%;
    height: 200px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px;
  }

  .box-overlay {
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 100%;
  }

  .box-overlay-h2 {
    position: relative;
    color: $main-color;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
    z-index: 100;
    font-weight: 700;
    font-size: 20px;
  }

  .box-overlay-h2:after,
  .box-overlay-h2:before {
    display: block;
    content: "";
    border-bottom: solid 3px $main-color;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .box-overlay-h2:before {
    position: absolute;
    bottom: 1.2em;
    left: 0;
    width: 100%;
  }

  .box-overlay:hover .box-overlay-h2:after {
    transform: scaleX(0.7);
  }

  .box-overlay .box-overlay-p {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, 0%, #111);
    top: 0;
    margin: 0;
    opacity: 0;
    color: $main-color;
    padding-top: 185px;
  }

  .box-overlay:hover .box-overlay-p {
    opacity: 0.8;
    color: $main-color;
  }

  .box-overlay-link {
    position: relative;
    height: 100%;
  }

  .box-overlay-link img {
    width: 100%;
    height: 100%;
  }

  .box-overlay-link h2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: -10px;
    right: 0;
    color: $main-color;
  }

  .image-fix {
    background: center / cover;
  }
}
@media (min-width: 601px) {
  .boxes-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    max-height: 100%;
    flex-wrap: wrap;
    background-color: black;
  }

  .logo {
    font-family: "Allura", cursive;
    font-size: 32px;
    color: white;
    margin: 0 auto;
    text-align: center;
  }

  .boxes-rows {
    display: flex;
    flex-direction: column;
  }

  .boxes-row {
    display: flex;
    flex-direction: row;
    height: 50%;
    width: 100%;
  }

  .row-item {
    flex: 1;
    border: 1px solid black;
  }

  .box-overlay {
    text-align: center;
    overflow: hidden;
    position: relative;
    height: 47vh;
  }

  .box-overlay-h2 {
    position: relative;
    color: $main-color;
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2em;
    width: 60%;
    z-index: 100;
    font-weight: 700;
  }

  .box-overlay-h2:after,
  .box-overlay-h2:before {
    display: block;
    content: "";
    border-bottom: solid 3px $main-color;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .box-overlay-h2:before {
    position: absolute;
    bottom: 1.2em;
    left: 0;
    width: 100%;
  }

  .box-overlay:hover .box-overlay-h2:after {
    transform: scaleX(1);
  }

  .box-overlay .box-overlay-p {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(transparent, 0%, #111);
    top: 0;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: $main-color;
    padding-top: 185px;
  }

  .box-overlay:hover .box-overlay-p {
    opacity: 0.8;
    color: $main-color;
  }

  .box-overlay-link {
    position: relative;
  }

  .box-overlay-link img {
    width: 100%;
    height: 100%;
  }

  .box-overlay-link h2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: -25px;
    right: 0;
    color: $main-color;
  }

  .image-fix {
    background: center / cover;
  }
}
