@import "../variables";

// non active button in every subcategory
.button_default {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: $default-radius;
  transition: all 0.2s ease-in-out;
  margin-bottom: 25px;
  border: 2px solid transparent;
  box-sizing: border-box;
  box-shadow: $default-shadow;
  margin: $button-space;
}
// active button in every subcatecory
.button_clicked {
  background-color: $main-color;
  color: black;
  box-sizing: border-box;
  box-shadow: $default-shadow;
  margin: $button-space;
  border-radius: $default-radius;
}

.button_clicked:hover {
  cursor: default;
  transform: none;
}
.button_default:focus,
.button_clicked:focus {
  outline: 0;
}

// button to show more posts
.button_more {
}
// button to expend news
.button_arrow {
}
