@import "../variables";

@media (max-width: 764px) {
  .cmentarz-row {
    flex-direction: column;
  }
  .cmentarz {
    background: none;
    background-color: black;
    min-height: 100vh;
    height: 100%;
    color: $main-color;
  }
}

@media (min-width: 765px) {
  .cmentarz {
    background: url(asset-path("cmentarz_background.JPG")) center / cover fixed;
    min-height: 100vh;
    height: 100%;
    color: $main-color;
  }

  .cmentarz-h2 {
    margin-top: 15px;
    text-align: center;
  }

  .cmentarz-buttons {
    padding-bottom: 35px;
  }

  .cmentarz-row {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
  }

  .cmentarz-img {
    min-height: 100%;
  }

  .cmentarz-box-text {
    min-height: 100%;
  }

  .cmentarz-text {
    color: $main-color;
  }
  .buttons-img-places {
    height: 100px;
  }

  .buttons-box-text {
    a:hover {
      text-decoration-color: $second-color;
    }
  }
}
