@import "../variables";

.Duchowienstwo {
  background: url(asset-path("Duchowienstwo_background.JPG")) center top / cover
    fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.Duchowienstwo-row {
  height: 100%;
  margin: 0;
}

.Duchowienstwo-img {
  min-height: 300px;
}

.Duchowienstwo-box-text {
  min-height: 300px;
}

.Duchowienstwo-text {
  color: $main-color;
}

.probszczowie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.proboszczowie-img {
  max-width: 300px;
  height: 300px;
  margin: 10px auto;
  border: 5px solid #220d0b;
  border-radius: 3px;
}
.ob-proboszczowie-overlay {
  display: flex;
  margin: 15px;
  align-items: center;
}
.ob-proboszczowie-img {
  max-width: 200px;
  height: 300px;
  margin: 10px 10px 10px 0;
  border: 5px solid #220d0b;
  border-radius: 3px;
}

.ob-proboszczowie-text {
  text-align: left;
  width: 80%;
}
@media screen and (max-width: 605px) {
  .ob-proboszczowie-overlay {
    display: flex;
    flex-direction: column;
  }
  .Duchowienstwo {
    background: none;
    background-color: black;
  }
}
