* {
  font-family: "Cormorant Infant", serif;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-color: black;
}

.h1-header {
  text-transform: uppercase;
  color: white;
  text-shadow: 1px 1px white;
  font-weight: 700;
  letter-spacing: 4px;
  padding-top: 75px;
}
.h2-header {
  text-transform: uppercase;
  color: #ffffffbf;
  font-weight: 700;
  letter-spacing: 2px;
}

.h3-header {
  padding: 0;
  margin: 0;
  color: orange;
}

.h3-header {
  padding: 0;
  margin: 0;
  color: orange;

  a {
    color: orange;
  }
  a:hover {
    color: orange;
  }
}

input {
  background-color: #ffffffe6;
  border: none;
}

button {
  background-color: transparent;
  border: none;
  color: hsla(0, 0%, 100%, 0.75);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 25px;
  border: 2px solid transparent;
  box-sizing: border-box;
}
button:hover {
  background-color: #ffffffe6;
  color: black;
  border: 2px solid black;
}

.buttonWhite {
  background-color: #ffffffe6;
  color: black;
  cursor: default;
  border: 2px solid black;
  box-sizing: border-box;
}
.buttonWhite:hover {
  transform: none;
}
.button:focus,
.buttonWhite:focus {
  outline: 0;
}

.bold-orange-word {
  color: orange;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}

.overlay {
  background-color: #000000; /* fallback for IE 8 and below */
  background-color: #00000099;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 20px;
}

/* content w sekcji parafia i inne */

.buttons-box {
  max-width: 75%;
  min-width: 75%;
  background-color: white;
  opacity: 0.9;
  text-align: justify;
  border: 3px solid black;
  margin-top: 15px;
}

.buttons-box-text {
  padding-bottom: 5px;
  color: black;
  margin: 15p 15px 15px 15px;
}

.buttons-img {
  height: 300px;
  padding: 15px;
}
.buttons-box > h2 {
  color: black;

  text-align: center;
  opacity: 0.9;
  padding-top: 5px 0 5px 0;
  box-shadow: 0px 0px 10px 1px #000000bf;
}
.button-img-box {
  padding: 15px;
}
.buttons-img-a {
  height: 75px;
}

.buttons-img-miejsca {
  width: 80%;
  height: 250px;
}
@media (max-width: 764px) {
  .buttons-box {
    max-width: 95%;
  }
}
