@import "../variables";

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-image: url(asset-path("header_background3"));
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
}

body {
  height: 100%;
  background-color: transparent !important;
}

.h1-header {
  text-transform: uppercase;
  color: $main-color;
  text-shadow: 1px 1px $main-color;
  font-weight: 700;
  letter-spacing: 4px;
  padding-top: 75px;
}
.h2-header {
  text-transform: uppercase;
  color: $main-color;
  font-weight: 700;
  letter-spacing: 2px;
  border-radius: 15px;
}

.h3-header {
  padding: 0;
  margin: 0;
  color: $accents-color;
}

.h3-header {
  padding: 0;
  margin: 0;
  color: $accents-color;

  a {
    color: $accents-color;
  }
  a:hover {
    color: $accents-color;
  }
}

input {
  background-color: $main-color;
  border: none;
}

/* content w sekcji parafia i inne */

.buttons-box-text {
  padding-bottom: 5px;
  color: $text-color;
  margin: 15p 15px 15px 15px;
}

.buttons-img {
  max-width: 50%;
  height: 300px;
  padding: 15px;
}

.button-img-box {
  padding: 15px;
}
.buttons-img-a {
  height: 75px;
}

.buttons-img-miejsca {
  width: 80%;
  height: 250px;
}
