@import "../variables";

@media (min-width: 765px) {
  .inne-img {
    min-height: 100%;
  }

  .inne-box-text {
    min-height: 100%;
  }

  .inne-text {
    color: $main-color;
  }
  .buttons-img-places {
    height: 100px;
  }

  .buttons-box-text {
    a:hover {
      text-decoration-color: $second-color;
    }
  }
}
