@import "../variables";
.kontakt {
  background: url(asset-path("kontakt_background.JPG")) center top / cover
    no-repeat fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.kontakt-row {
  height: 100%;
  margin: 0;
}

.Duchowienstwo-img {
  min-height: 300px;
}

.Duchowienstwo-box-text {
  min-height: 300px;
}

.Duchowienstwo-text {
  color: $main-color;
}
.contact-form {
  margin: 15px 0;
}
.contact-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $second-color;
  color: $main-color;
  padding: 5px;
  margin: 10px 0;
  border-radius: 5px;
  opacity: 0.8;
  animation: fadeIn 1s;
}

@media screen and (max-width: 605px) {
  .kontakt {
    background: none;
    background-color: black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
