@import "../variables";
.kontakt {
  background: url(asset-path("kontakt_background.JPG")) center top / cover
    no-repeat fixed;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.kontakt-row {
  height: 100%;
  margin: 0;
}

.contact-form {
  margin: 15px 0;
}
.contact-error {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $accents-color;
  color: $main-color;
  padding: 5px;
  margin: 10px 0;
  border-radius: $default-radius;
  opacity: $default-opacity;
  animation: fadeIn 1s;
}

@media screen and (max-width: 605px) {
  .kontakt {
    background: none;
    background-color: black;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: $default-opacity;
  }
}
