@import "../variables";

.navbar-logo {
  height: 100%;
  text-align: left;
  box-sizing: border-box;
  font-size: 20px;
  letter-spacing: 3px;
  display: flex;
  align-items: center;

}
.navbar-logo-link {
  font-size: 22px;
  color: $main-color;
}
.navbar-links {
  height: 50px;
  text-align: right;
  box-sizing: border-box;
  padding-top: 15px;
  font-size: 15px;
  letter-spacing: 2px;
}
.navbar-logo-link,
.navbar-logo-link:hover,
.navbar-link,
.navbar-link:hover,
.navbar-logo-link,
.navbar-link-active,
.navbar-link-active:hover {
  color: $main-color;
  display: inline-block;
  margin: 0;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}
.navbar-link-active,
.navbar-link-active:hover {
  border-bottom: 3px solid $main-color;
  cursor: default;
}
.navbar-link:after,
.navbar-logo-link:after {
  display: block;
  content: "";
  border-bottom: solid 3px $main-color;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.navbar-link:hover:after,
.navbar-logo-link:hover:after {
  transform: scaleX(1);
}
.navbar-menu,
.navbar-menu-img {
  display: none;
  top: -30;
}

@media screen and (max-width: 1100px) {
  .navbar-menu {
    display: block;
  }
  .navbar-menu-button {
    padding: 0;
    z-index: 100;
    position: relative;
    outline: none;
    background-color: transparent;
    border: none;
  }
  .navbar-menu-button:focus {
    outline: none;
  }
  .navbar-menu-img {
    width: 50px;
    height: 46px;
    display: inline;
  }
  .navbar-links {
    font-size: 22px;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $accents-color;
    transition: 0.3s transform ease-in-out;
    transform: translateX(-150%);
    z-index: 1;
    text-align: center;
    overflow: hidden;
  }
  .navbar-links-drop-show {
    transform: translateX(0px);
  }
}

@media screen and (max-width: 485px) {
  .navbar-logo {
    font-size: 16px;
  }
}
