.newsView-box-collaps-off {
  height: auto;
  font-weight: 300;
  color: black;
}

.newsView-box-text-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsView-box {
  background-color: white;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newsView-box-text {
  width: 100%;
  padding-bottom: 5px;
}

h2 {
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
}
.newsView-box > h2 {
  color: black;
  opacity: 0.9;
  padding-top: 5px 0 5px 0;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
}

.newsView-box-date {
  padding-top: 15px;
  color: black;
  text-align: center;
}

.newsView-box-button {
  max-width: 150px;
}

.newsView-img {
  width: 135px;
  height: 100px;
}
.newsView-img:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
}

.newsView-box-a {
  margin-bottom: 20px;
}

.newsView-box-a:hover {
  transform: scale(1.1);
  transition: transform 0.3s;
}

.newsView-box-pdf {
  width: 50px;
  height: 50px;
  margin-top: 25px;
}
