.parafia {
  background-image: url(asset-path("parafia.jpg"));
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

.parafia-buttons {
  min-height: 1000px;
}

.parafia-row {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.parafia-row-column {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
@media (max-width: 660px) {
  .parafia-row {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
