@import "../variables";

.parafia {
  background: url(asset-path("parafia_background.JPG")) center top / cover fixed;
  height: 100%;
  color: $main-color;
}

.parafia-buttons {
  padding-bottom: 15px;
}

.parafia-row {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.parafia-row-column {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.parafia-row > ul {
  color: black;
  list-style: none;
}
.parafia-obecenie li::before {
  content: "\2022";
  color: $second-color;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.budowa-images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

.budowa-image {
  width: 100%;
  height: 100%;
  max-width: 150px;
  max-height: 100px;
}

@media (max-width: 660px) {
  .parafia-row {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
