@import "../variables";

.ShowPost {
  height: 100%;
  color: $main-color;
}
.showPost-box {
  padding: 0;
  background-color: $main-color;
  margin-bottom: 20px;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h2-showPost {
  width: 100%;
}
