@import "../variables";

.subcategory {
  background: #000000; /* fallback for old browsers */
  background: rgb(178, 198, 208);
  background: linear-gradient(to right, #4880ec, #8ac7ce);
  min-height: 100vh;
  height: 100%;
  color: $main-color;
}
.subcategory__header {
  padding-top: 50px;
}
