@import "../variables";

@media (max-width: 764px) {
  .subcategory__view {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
  }

  .subcategory__view__h2 {
    margin-top: 15px;
    text-align: center;
  }

  .subcategory__view__row {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media (min-width: 765px) {
  .subcategory__view {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
  }

  .subcategory__view__h2 {
    margin-top: 15px;
    text-align: center;
  }

  .subcategory__view__row {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
