.section {
  display: flex;
  justify-content: flex-start;
}

.section.basic {
  flex-direction: column;
  justify-content: center;
}

.section.basic.reverse {
  flex-direction: column-reverse;
}

.section.manyimages {
  flex-direction: column;
  justify-content: center;
}

.section.manyimages.reverse {
  flex-direction: column-reverse;
}

.section_text {
  padding: 0 25px;
}

.section_text_header {
  text-align: left;
}

.section_text_content {
  text-align: left;
}

.section_images {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
  padding-bottom: 15px;
  grid-gap: 5px;
}

.section_image {
  margin: 0 auto;
  height: 180px;
  width: 90%;
  margin: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

@media screen and (max-width: 605px) {
  .section_text {
    padding: 0 50px;
  }

  .section_images {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
  }
}

@media screen and (min-width: 606px) {
  .section.basic {
    flex-direction: row;
  }

  .section.basic.reverse {
    flex-direction: row-reverse;
  }

  .section_text.basic {
    padding: 0 25px;
  }

  .section_images {
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    justify-content: flex-end;
  }
}
