@import "../variables";

.subcategory {
  @include background_gradient();
  height: 100%;
  color: $main-color;
  background-image: url(asset-path("header_background3"));
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover !important;
  max-width: 100%;
  max-height: 100%;
  min-height: 100vh;
  width: auto;
  height: auto;
}
.subcategory__header {
  padding-top: 50px;
}
