@import "../variables";

@media (max-width: 764px) {
  .subcategory__container {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }

  .subcategory__view__h2 {
    margin-top: 15px;
    text-align: center;
  }

  .subcategory__view {
    height: 100%;
    box-sizing: border-box;
    min-width: 95%;
    max-width: 95%;
    background-color: $main-color;
    opacity: $default-opacity;
    text-align: justify;
    margin-top: 15px;
    border-radius: $default-radius;
  }

  .subcategory__view > h2 {
    height: 100%;
    color: $text-color;
    text-align: center;
    padding-top: 5px 0 5px 0;
    box-shadow: $default-shadow;
    border-radius: $default-radius;
  }

  .subcategory__view__row {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $text-color;
  }
  .subcategory__view__row__content {
    box-sizing: border-box;
    padding: 15px;
  }
}
@media (min-width: 765px) {
  .subcategory__container {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .subcategory__view {
    height: 100%;
    width: 900px;
    background-color: $main-color;
    text-align: justify;
    margin-top: 15px;
    box-shadow: $default-shadow;
  }

  .subcategory__view > h2 {
    color: $text-color;
    text-align: center;
    padding-top: 5px 0 5px 0;
    box-shadow: $default-shadow;
  }

  .subcategory__view__h2 {
    margin-top: 15px;
    text-align: center;
  }

  .subcategory__view__row {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $text-color;
  }
  .subcategory__view__row__content {
    box-sizing: border-box;
    padding: 15px;
  }
}
