@import "../variables";

@media (max-width: 764px) {
  .submenu {
    background: none;
    height: 100%;
    color: $main-color;
  }
}

@media (min-width: 765px) {
  .submenu {
    height: 100%;
    color: $main-color;
  }
}
